body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: plum;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p, h3, h1{
    text-align: center;
}

#secretNum{
    max-width: 400px;
    margin: auto;
    padding: 50px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.50);
    background-color: violet;
}

input{
    display: block;
    margin: 10px auto;
}

button{
    display: block;
    margin: 10px auto;
    border: 0;
    padding: 10px 15px;
    background-color: mediumorchid;
    color: white;
}

button:hover{
    background-color: purple;
}

button:active{
    background-color: mediumorchid;
}

#message{
    width: 20rem;
    text-align: center;
}